version: "3"
services:

  redis:
    image: redis:4.0.14
    container_name: my_redis
    restart: always
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - $PWD/config/redis/redis.conf:/usr/local/etc/redis/redis.conf
      - $PWD/data/redis/:/data/
      - $PWD/log/redis/:/var/log/redis/
    ports:
      - "6379:6379"
    command: redis-server /usr/local/etc/redis/redis.conf

configs:
  my_first_config:
    file: ./config_data
  my_second_config:
    external: true