version: "3"
services:
  selenium-hub:
    image: selenium/hub:3.141.59-oxygen
    container_name: selenium-hub
    ports:
      - "4444:4444"

  selenium_node_chrome_headless:
    image: selenium/node-chrome:3.141.59-oxygen
    volumes:
      - /dev/shm:/dev/shm
    depends_on:
      - selenium-hub
    environment:
      - HUB_HOST=selenium-hub
      - HUB_PORT=4444
      - NODE_MAX_INSTANCES=5
      - NODE_MAX_SESSION=5
      - START_XVFB=false

  mysql:
    image: mysql:5.7.16
    container_name: my_mysql
    volumes:
      - $PWD/config/mysql/init/:/docker-entrypoint-initdb.d/
      - $PWD/data/mysql:/var/lib/mysql
      - $PWD/config/mysql/conf.d:/etc/mysql/conf.d
      - $PWD/log/mysql/:/var/log/mysql/
    restart: always
    command:
      --default-authentication-plugin=mysql_native_password
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_bin
      --explicit_defaults_for_timestamp=true
    environment:
      TZ: Asia/Shanghai
      MYSQL_ROOT_PASSWORD: root
      MYSQL_ROOT_HOST: '%'
      MYSQL_USER: itsme
      MYSQL_PASSWORD: 123456
      MYSQL_DATABASE: test
    ports:
      - "3306:3306"

  redis:
    image: redis:4.0.14
    container_name: my_redis
    restart: always
    environment:
      - TZ=Asia/Shanghai
    volumes:
      - $PWD/config/redis/redis.conf:/usr/local/etc/redis/redis.conf
      - $PWD/data/redis/:/data/
      - $PWD/log/redis/:/var/log/redis/
    ports:
      - "6379:6379"
    command: redis-server /usr/local/etc/redis/redis.conf

  mongo:
    image: mongo:3.6.18
    container_name: my_mongo
    restart: always
    environment:
      MONGO_INITDB_DATABASE: springboot
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
    ports:
      - "27017:27017"
    volumes:
      - ${PWD}/data/mongo:/data/db
      - ${PWD}/config/mongo/init-mongo.js:/docker-entrypoint-initdb.d/init-mongo.js:ro

  mongo-express:
    image: mongo-express
    container_name: my_mongo_express
    restart: always
    ports:
      - 8081:8081
    environment:
      ME_CONFIG_MONGODB_SERVER: mongo
    links:
      - mongo

