version: "3"
services:
  selenium-hub:
    image: selenium/hub:3.141.59-oxygen
    container_name: selenium-hub
    ports:
      - "4444:4444"

  selenium_node_chrome_headless:
    image: selenium/node-chrome:3.141.59-oxygen
    volumes:
      - /dev/shm:/dev/shm
    depends_on:
      - selenium-hub
    environment:
      - HUB_HOST=selenium-hub
      - HUB_PORT=4444
      - NODE_MAX_INSTANCES=5
      - NODE_MAX_SESSION=5
      - START_XVFB=false

  db:
    image: mysql:5.7
    container_name: mysql
    volumes:
      - $PWD/data/mysql:/var/lib/mysql
      - $PWD/config/mysql/conf.d:/etc/mysql/conf.d
      - $PWD/log/mysql/:/var/log/mysql/
    restart: always
    command:
      --default-authentication-plugin=mysql_native_password
      --character-set-server=utf8mb4
      --collation-server=utf8mb4_bin
      --explicit_defaults_for_timestamp=true
    environment:
      TZ: Asia/Shanghai
      MYSQL_ROOT_PASSWORD: root
      MYSQL_ROOT_HOST: '%'
      MYSQL_USER: itsme
      MYSQL_PASSWORD: 123456
      MYSQL_DATABASE: test
    ports:
      - "3306:3306"

  redis:
    image: redis:4.0.14
    container_name: redis
    restart: always
    volumes:
      - $PWD/data/redis:/data
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]

  mongo:
    image: mongo:3.6.18-xenial
    container_name: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root

  mongo-express:
    image: mongo-express
    restart: always
    ports:
      - 8081:8081
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: root
